[alias]
        tree = log --graph --oneline --decorate --color --all
        rbpush = "!f() { git push --force origin "$1"; }; f"
[user]
	name =  
	email = 
[core]
	editor = vim

#Notes
#Rebasing
#git checkout -b develop
#git checkout master
#git pull
#git checkout develop
#git rebase master
#git rbpush
#git checkout master
#git pull
#git merge develop
#Merging
#git checkout develop
#git commit in develop
#git checkout master
#git merge develop
